<body>
  <div class="container">
    <header>
      <h1>Lista</h1>
      <form class="nueva-tarea">
        <input type="text" name="texto" placeholder="Agregue una nueva tarea" />
      </form>
    </header>
 
    <ul>
      {{#each tareas}}
        {{> tarea}}
      {{/each}}
    </ul>
  </div>
</body>